<%= form_for @question do |f| %>
  <p><%= f.label :title, "Title" %>
  <%= f.text_field :title %> </p>
  <p><%= f.label :body, "Content" %>
  <%= f.text_area :body %></p>
  <%= f.submit :disable_with => 'Submitting...' %>
<% end %>