<ol class="questions-list">
<% @questions.each do |question| %>
<li>
  <ul class="question-stats">
    <li><span><%= question.answers.count %></span>answers</li>
    <li><span><%= question.comments.count %></span>comments</li>
    <li><span><%= question.votes.sum("direction") %></span>votes</li>
  </ul>
 <p>
   <%= link_to question.title , question_path(question) %>
   <p class="meta">Posted by <%= question.user.name %> on <%= question.created_at.strftime("%B %d, %Y") %></p>
 </p>

  <!-- partial for showing question vote form -->
  <% if logged_in? %>
    <%= render partial: 'votes/form', locals: {form_path: question_votes_path(question)} %>
  <% end %>
</li>
 <hr>
<% end %>
</ol>