<h1><%= @question.title %></h1>
<hr>
<p class="meta"><%= @question.user.name %> on <%= @question.created_at.strftime("%B %d, %Y") %> <% if current_user == @question.user %> | <%= link_to "Edit" , edit_question_path(@question) %> <% end %></p>
<p> <%= simple_format(@question.body) %> </p>
<hr>
<!-- partial for showing question comments -->
<% @question.comments.each do |comment| %>
  <%= render 'comments/show', comment: comment %>
<% end %>
<!-- partial for adding question comment -->
<% if logged_in? %>
<%= render 'comments/form', comment: Comment.new, answer: nil %>
<% end %>
<h4>Answers</h4>
<% if logged_in? %>
  <%= render 'answers/new' %>
<% end %>
<hr>
<% @question.answers.each do |answer| %>
  <%= render 'answers/show', answer: answer %>
  <!-- partial for showing Answer comments -->
  <% answer.comments.each do |comment| %>
    <%= render 'comments/show', comment: comment %>
  <% end %>
  <hr>
  <% if logged_in? %>
  <%= render :partial => 'comments/form', :locals => {:answer => answer} %>

  <% end %>
<% end %>
