<h1>  <%= @question.title %> </h1>
<p class="meta"><%= @question.user.name %> on <%= @question.created_at.strftime("%B %d, %Y") %></p>
<p> <%= simple_format(@question.body) %> </p>

<!-- partial for showing question comments -->
<% @question.comments.each do |comment| %>
<%= render 'comments/show', comment: comment %>
<% end %>

