<h2><%= @question.title %></h2>
<hr>
<p> <%= simple_format(@question.body) %> </p>
<p class="meta">by <%= @question.user.name %> on <%= @question.created_at.strftime("%B %d, %Y") %> | <%= link_to "Edit" , edit_question_path(@question) %></p>
<hr>

<!-- partial for showing question comments -->
<% @question.comments.each do |comment| %>
  <%= render 'comments/show', comment: comment %>
<% end %>
<!-- partial for adding question comment -->
<% if logged_in? %>
<%= render 'comments/form', comment: Comment.new, answer: nil %>
<% end %>

<h3>Answers</h3>
<hr>
<% @question.answers.each do |answer| %>
  <%= render 'answers/show', answer: answer %>

  <div class="votes">
    Votes <%= answer.votes.sum("direction") %>
  </div>
  
  <!-- partial for showing answer vote form -->
  <% if logged_in? %>
    <%= render partial: 'votes/form', locals: {form_path: question_answer_votes_path(@question,answer)} %>
  <% end %>
  <!-- partial for showing Answer comments -->
  <% answer.comments.each do |comment| %>
    <%= render 'comments/show', comment: comment %>
  <% end %>
<hr>
  <% if logged_in? %>
  <%= render :partial => 'comments/form', :locals => {:answer => answer} %>
  <% end %>
<% end %>
<!-- Add answer form -->
<% if logged_in? %>
  <%= render 'answers/new' %>
<% end %>