<div class="comment comment-<%= comment.id %>">
  <p id="notice"><%= notice %></p>
  <p class="comment-body"><%= comment.body %></p>
  <p class="meta"><%= comment.user.name %> on <%= comment.created_at.strftime("%B %d, %Y") %></p>
  <% if comment.user == current_user %>
  <p><%= link_to "Delete", question_comment_path(comment.commentable_id, comment), method: :delete, data: { confirm: 'Are you sure?'} %></p>
  <% end %>
</div>
